<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStartOrder" />
                <binding name="BasicHttpBinding_IAddItem" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58398/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStartOrder" contract="OrderService.IStartOrder"
                name="BasicHttpBinding_IStartOrder" />
            <endpoint address="http://localhost:58398/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAddItem" contract="OrderService.IAddItem"
                name="BasicHttpBinding_IAddItem" />
        </client>
    </system.serviceModel>
</configuration>